/******************* STRUCTURE DE BASE *************************/
* {
    color: navajowhite;

}

body {
    top: 0;
    left: 0;

    padding-top: 0px;
    background-color: #856404;
}

header {
    /*background-color: #0d5e42;*/
}

main {
    /*background-color: indianred;*/
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

H1 {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
}

/******************* STRUCTURE DE BASE **************************/


/******************* FORMULAIRES ********************************/
loginForm {
    margin-top: 30px;
    background-color: #0f6674;
}

.login-form {
}


/******************* BANDEAU *************************************/
#logo {
    width: auto;
    height: 150px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#img-bandeau {
    display: none;
}


/***************** BOUTONS ************************/
.btn {
    margin-bottom: 5px;
    margin-right: 25px;
}

#btnGroup {
    text-align: center;
}

#btnGroup > .btn {
    background-color: #533f03;
    color: lightgoldenrodyellow;
    margin-left: auto;
    margin-right: auto;
    width: 8em;
}

/***************** CARROUSEL ************************/


#myCarousel {
    display: none;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*****************   CARDS  ***********************/
.twoLines .card-text{
    background-color: #0d5e42;
    height:30px;
    line-height:15px;
    overflow:hidden;
}

@media all and (min-width: 400px) {

    .bandeau {
        /*position: absolute;*/
        left:0;
        width: 100%;
        height: 180px;
        background-image: url("../img/bandeau4.jpg");
    }

    #logo {
        float: right;


    }

    nav {
        /*position:relative;*/
        /*float: none;*/
    }

    #myCarousel {
        display: block;
    }

    .login-form-group {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;

    }

    .login-form-group > form > fieldset {
        width: 20em;
    }

}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }


}
