/******************* STRUCTURE DE BASE *************************/
* {
    color: navajowhite;
    box-sizing: border-box;

}

.navajowhite {
    color: navajowhite;
}

body {
    top: 0;
    left: 0;

    padding-top: 0;
    /*padding: 20px;*/
    background-color: #856404;
}


header {
    position:page;
    top:0;
}

/* Center website */

main {
    position: relative;
    /*    max-width: 1000px;*/
    /*    margin: auto;*/

}


/*h1 {*/
/*    font-size: 50px;*/
/*}*/

/*header img {*/
/*    width: 300px;*/
/*    margin: auto;*/
/*    display: block;*/
/*}*/

.main img {
    max-height: 200px;
    width: 100%;
}


footer {
    display: inline;
    background-color: #0b2e13;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;

    /*padding-top: 50px;*/
    left: 0;
    right: 0;
    text-align: center;
}

#footer{
    vertical-align: center;
    display: inline;
    line-height: 15px;
}

H1 {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
}


.animal{
    margin-top: 10px;
}
.photo{
    display: block;
    height: auto;
    width: 100%;
}
.h2{
    margin-bottom: 10px;
}

.carousel{
    height: 150px;
    width: 100%;
}
/******************* STRUCTURE DE BASE **************************/


/******************* FORMULAIRES ********************************/
#loginForm {
    padding-top: 1rem;
    margin-top: 30px;
    background-color: #0f6674;
}

.login-form-group {

}

fieldset{
    padding-top: 1rem;
    width: 100%;
    margin: auto;
}


/******************* BANDEAU *************************************/
#logo {
    width: auto;
    height: 150px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
}

#img-bandeau {
    display: none;
}

.big-connected{
 display:none;
}

.small-connected{
    display: block;
}

/***************** BOUTONS ************************/
.btn {
    margin-bottom: 5px;
    margin-right: 25px;
}

#btnGroup {
    text-align: center;
}

#btnGroup > .btn {
    background-color: #533f03;
    color: lightgoldenrodyellow;
    margin-left: auto;
    margin-right: auto;
    width: 8em;
}

/***************** CARROUSEL ************************/


#myCarousel {
    display: none;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*****************   CARDS  ***********************/
.twoLines .card-text{
    background-color: #0d5e42;
    height:30px;
    line-height:15px;
    overflow:hidden;
}

.card-title{
    color: white;
}
.card {
    margin: 5px;
    width: 200px;
    min-width: 200px;
    /*max-width: 200px;*/
    display: block;
    background-color: #ba8b00;
    border-radius: .50rem;
}

.card:hover{
    background-color: #0b2e13;
    color: white;

}
.img-card{
    width: 100%;
    text-align: center;
    min-height: 140px;
}
.img-card > img {
    /*height: auto;*/
    height: 250px;
    width: 100%;
}

.img-card:hover {
    cursor: pointer;
    border-radius: 50px;
    transform: scale(0.8);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


.card-body{
    /*border: 1px solid;*/
    padding: 2px 5px;
    height: 150px;
    text-overflow: ellipsis;

    overflow: auto;

    /*white-space: nowrap;*/

    margin-bottom: 10px;
}

.card-more {
    text-align: center;

}
.card-more > a{
    color: navajowhite;
}

/* Create three equal cartes that floats next to each other */

/*.carte {*/
/*    display: none;*/
/*}*/

/* Content */

/*.content {*/
/*    background-color: white;*/
/*    padding: 10px;*/
/*}*/

/* The "show" class is added to the filtered elements */

/*.show {*/
/*    display: block;*/
/*}*/

/************************************ Style the buttons ***********************/

/*.btn {*/
/*    border: none;*/
/*    outline: none;*/
/*    padding: 12px 16px;*/
/*    background-color: white;*/
/*    cursor: pointer;*/
/*}*/

/* Add a grey background color on mouse-over */

/*.btn:hover {*/
/*    background-color: #ddd;*/
/*}*/

/* Add a dark background color to the active button */

/*.btn.active {*/
/*    background-color: #666;*/
/*    color: white;*/
/*}*/



/** MODAL */

#modale {
    display: none; /* Hidden by default */
    position:fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    /*padding-top: 50px; !* Location of the box *!*/
    top: 200px; right:0; bottom:0; left: 0;

    width: 400px; /* Full width */
    height: 300px; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    margin : 0 auto;
    vertical-align: center;
}

.modal-content {
    background-color: darkslategrey;
    position: fixed;
    width: 50px;
    height: 200px;
    left: 50%;
    top: 20%;
    margin: auto;

    padding: 50px;
    border-radius: 20px;
    margin-bottom: -200px;
    margin-left: 50px;
    margin-top: -50px;
}

.closeBtnContainer {
    float: right;
}

.close-button {
    width: 5%;
    display: inline-block;
    float: right;
    text-align: right;
    font-weight: bold;
}
/** MODAL */

@media all and (min-width: 414px) {
    header {
        background-color: yellow;
    }
    /* tablettes et ordinateurs */
    .wrapper {
        grid-template-columns: repeat(2, [col-start] 1fr);
    }

    .bandeau {
        /*position: absolute;*/
        left:0;
        width: 100%;
        height: 180px;
        background-image: url("../img/bandeau4.jpg");
    }

    #logo {
        float: left;
    }

    nav {
        /*position:relative;*/
        /*float: none;*/
    }
    .big-connected{
        display:block;
    }

    .small-connected{
        display: none;
    }
    #myCarousel {
        display: block;
    }

    .login-form-group {
        margin-top: 100px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;

    }

    .login-form-group > form > fieldset {
        width: 20em;
    }

}

@media only screen and (max-width: 767px) {

    /* smartphone en mode portrait */
    .wrapper {
        display: grid;
        grid-template-columns: repeat(3, [col-start] 1fr);
        grid-gap: 20px;
    }
}
@media all and (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }

    /*    header {*/
    /*        background-color: blue;*/
    /*    }*/
    /*    !* tablettes et ordinateurs *!*/
    /*    .wrapper {*/
    /*        grid-template-columns: repeat(4, [col-start] 1fr);*/
    /*    }*/

    /*.modal-content {*/
    /*    position: fixed;*/
    /*    width: 600px;*/
    /*    height: 400px;*/
    /*    margin-left: -300px;*/
    /*    margin-top: -100px;*/
    /*    padding: 50px;*/
    /*}*/


    .wrapper {
        grid-template-columns: repeat(3, [col-start] 1fr);
    }

}

/*.wrapper {*/
/*    display: grid;*/
/*    grid-template-columns: repeat(1, [col-start] 1fr);*/
/*    grid-gap: 20px;*/
/*}*/

