/******************* STRUCTURE DE BASE *************************/
* {
    color: navajowhite;

}

.navajowhite {
    color: navajowhite;
}

body {
    top: 0;
    left: 0;

    padding-top: 0px;
    background-color: #856404;
}

header {
    /*background-color: #0d5e42;*/
    position:page;
    top:0;
}

main {
    position: relative;
    /*background-color: indianred;*/
}

footer {
    display: inline;
    background-color: #0b2e13;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;

    /*padding-top: 50px;*/
    left: 0;
    right: 0;
    text-align: center;
}

#footer{
    vertical-align: center;
    display: inline;
    line-height: 15px;
}

H1 {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
}
/******************* STRUCTURE DE BASE **************************/


/******************* FORMULAIRES ********************************/
loginForm {
    padding-top: 1rem;
    margin-top: 30px;
    background-color: #0f6674;
}

.login-form-group {

}

fieldset{
    padding-top: 1rem;
    width: 100%;
    margin: auto;
}


/******************* BANDEAU *************************************/
#logo {
    width: auto;
    height: 150px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
}

#img-bandeau {
    display: none;
}

.big-connected{
 display:none;
}

.small-connected{
    display: block;
}

/***************** BOUTONS ************************/
.btn {
    margin-bottom: 5px;
    margin-right: 25px;
}

#btnGroup {
    text-align: center;
}

#btnGroup > .btn {
    background-color: #533f03;
    color: lightgoldenrodyellow;
    margin-left: auto;
    margin-right: auto;
    width: 8em;
}

/***************** CARROUSEL ************************/


#myCarousel {
    display: none;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*****************   CARDS  ***********************/
.twoLines .card-text{
    background-color: #0d5e42;
    height:30px;
    line-height:15px;
    overflow:hidden;
}

.card-title{
    color: white;
}
.card {
    margin: 5px;
    width: 200px;
    min-width: 200px;
    /*max-width: 200px;*/
    display: block;
    background-color: #ba8b00;
    border-radius: .50rem;
}

.card:hover{
    background-color: #0b2e13;
    color: white;

}
.img-card{
    width: 100%;
    text-align: center;
    min-height: 140px;
}
.img-card > img {
    height: auto;
    height: 250px;
    width: 100%;
}

.img-card:hover {

    cursor: pointer;
    border-radius: 50px;
    transform: scale(1.2);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.card-body{
    /*border: 1px solid;*/
    padding: 2px 5px;
    height: 150px;
    text-overflow: ellipsis;

    overflow: auto;

    /*white-space: nowrap;*/

    margin-bottom: 10px;
}

.card-more {
    text-align: center;

}
.card-more > a{
    color: navajowhite;
}
.animal{
    margin-top: 10px;
}
.photo{
    display: block;
    height: auto;
    width: 100%;
}
.h2{
    margin-bottom: 10px;
}

.carousel{
    height: 150px;
    width: 100%;
}

@media all and (min-width: 400px) {

    .bandeau {
        /*position: absolute;*/
        left:0;
        width: 100%;
        height: 180px;
        background-image: url("../img/bandeau4.jpg");
    }

    #logo {
        float: left;
    }

    nav {
        /*position:relative;*/
        /*float: none;*/
    }
    .big-connected{
        display:block;
    }

    .small-connected{
        display: none;
    }
    #myCarousel {
        display: block;
    }

    .login-form-group {
        margin-top: 100px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;

    }

    .login-form-group > form > fieldset {
        width: 20em;
    }

}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }


}
